@use "../../styles/variables" as *;

.tab__content{
    height: 20em;
    width: 100%;
    padding: 2em 1em;
    background-color: #cccccc57;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;   
}

.techStack{
    display: block;
    margin-bottom: 1em;
}

pre {
    font-family: $font-secondary;
}

