@use "../../styles/variables" as *;

.aboutPage {
    height: fit-content;
}
.about__section-a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.about__experience { 
    height: auto;
    width: 50vw;
    height: 40rem;
}

.about__section-b {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 1rem;
}

.about__interests {
    height: auto;
    width: 50vw;
    height: 40rem;
}

.section-a__img {
    background-color: $purple;
    rotate: 3deg;
    border-radius: 5px;

}

.about__img {
    rotate: -5deg;
    border: solid $dark-gold 2px;
    border-radius: 5px;
    width: auto;
    height: 35rem;

}

.section-b__img {
    background-color: $dark-gold;
    rotate: -3deg;
    border-radius: 5px;
}

.about-b__img {
    rotate: 5deg;
    border: solid $purple 2px;
    border-radius: 5px;
    height: 35rem;
    width: auto;
}