@use "../../styles/variables" as *;

.card {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    &__image {
    width: 35rem;
    height: auto;
    border-radius: 15px;
    transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }

    &__title {
    font-size: 2rem;
    font-family: $font-secondary;
    color: black;
    text-align: center;
    margin: 1rem 0rem;

        &:hover {
        color: $light-purple;
        text-decoration: underline;
        }
    }

    &__link {
    text-decoration: none;
    }
}

@media only screen and (max-width: 1027px) {
    .card{
        margin: 1rem 0rem;

        &__title {
            bottom: 1.5rem;
        }

        &__image{
                width: 20rem;
            }

    }
}
    
@media only screen and (max-width: 600px) {
    .card__image{
        width: 10rem;
    }

    .card__title{
        font-size: 1.3rem;
        bottom: 1.3rem;
    }

}

@media only screen and (max-width: 450px) {

    .card__title{
        font-size: 1.3rem;
        bottom: 0.5rem;
    }
}