@use "../../styles/variables" as *;

.contact__main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-template-areas:
        ". title title title ."
        ". . . . ."
        ". link1 . link2 ."
        ". . . . ."
        ". . . . .";
    align-items: center;
    justify-items: center;
}

.contact__title {
    grid-area: title;
    font-size: 2.5rem;
}


.link1 {
    grid-area: link1;
}

.link2 {
    grid-area: link2;
}


@media only screen and (max-width: 768px) {
    .contact__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "title"
        "link1"
        "."
        "link2"
        ".";
    }

}
