@use "../../styles/variables" as *;

.home {
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.35);
    margin: auto;
    width: 85%;
    height: 91vh;
}

section {
    padding-top: 7rem;
}

.typewriter{
    display: inline-block;
}

.titleContainer{
    overflow: hidden;
    border-right: .15em solid $gold;
    font-size: 1.5rem;
    white-space: nowrap;
    width: 0;
    animation: typing 2.5s steps(45, end) 0.5s forwards,
}

.tcOne{
    overflow: hidden;
    border-right: .17em solid $gold;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(50, end) 0.5s forwards,
            blink .8s infinite;
    animation-delay: 3s;
}

.homeImg{
    margin-top: 5rem;
    height: 15rem;
    width: auto;
}

.containerTwo{
    display: none;
}

.containerThree{
    display: none;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: $gold; }
  }

@media only screen and (max-width: 1027px) {
    //max width is 992 and everything down


    .homeImg{
        margin-top: 3rem;
        height: 12rem;
    }
    
    .containerOne{
        display: none;
    }

    .containerTwo{
        display: block;
    }
    .tcTwo{
        overflow: hidden;
        border-right: .17em solid $gold;
        white-space: nowrap;
        width: 0;
        animation: typing 3s steps(50, end) 0.5s forwards,
            blink .8s infinite;
        animation-delay: 3s;
    }
}
    
@media only screen and (max-width: 600px) {

    .home {
        box-shadow: none;
        margin: auto;
        height: 91vh;
        width: 100%;
    }


    .titleContainer{
        animation: typing 1.5s steps(35, end) 0.5s forwards,
    }

    .homeImg{
        margin-top: 3rem;
        height: 10rem;
    }
    
    .containerOne{
        display: none;
    }


    .containerTwo{
        display: none;
    }

    .containerThree{
        display: block;

    }
    .tcThree {
        overflow: hidden;
        border-right: .17em solid $gold;
        white-space: nowrap;
        width: 0;
        animation: typing 2.5s steps(45, end) 0.5s forwards,
                blink .8s infinite;
        animation-delay: 2.5s;
    }
}

@media only screen and (max-width: 450px) {
    .typewriter{
        border-width: 20px 5px;
    }

    .titleContainer{
        animation: typing 1.3s steps(30, end) 0.5s forwards,
    }

    .tcThree {
        overflow: hidden;
        border-right: .17em solid $gold;
        white-space: nowrap;
        width: 0;
        animation: typing 2s steps(35, end) 0.5s forwards,
                blink .8s infinite;
        animation-delay: 2s;
    }

}