@use "../../styles/variables" as *;

.carousel {
    &__arrow {
        font-size: 3rem;
        cursor: pointer;
        margin-bottom: -5rem;

        &:hover {
            color: $purple;
        }

    }

    &__image {
        background-color: $purple;
        
        &--main {
        margin: 5rem 7rem 0 7rem;
        box-shadow: 5px 5px 10px 5px;
        background-color: $light-purple;
        padding: 5rem 3rem;
        border-radius: 15px;
        size: 3rem;
        
        &:hover{
            animation: bounce 1s ease-in-out 0s 2 normal;
        }
    }

    &--side {
        margin: 0rem 5rem -10rem 5rem;
        opacity: 0.5;
    }

    }

    &__selection {
        font-family: $font-tertiary;
        font-size: 3rem;
        color: $gold;
    }

}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

@media only screen and (max-width: 1027px) {
    .carousel__image--main{
        margin: 1.5rem 2rem 0 2rem;
        padding: 2rem 1.5rem;
    }

    .carousel__image--side{
        margin: 0rem 2rem -5rem 2rem;
    }
}
    
@media only screen and (max-width: 600px) {
    .carousel__image--side{
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .carousel__image--main{
        margin: .5rem 1rem 0 1rem;
        padding: 1.5rem 1rem;
    }

}