@use "../../styles/variables" as *;

.carousel {


    &__arrow {
        font-size: 3rem;
        cursor: pointer;
        margin-bottom: -5rem;

        &:hover {
            color: $purple;
        }

    }

    &__image {
        background-color: $purple;
        
        &--main {
        margin: 10rem 7rem 0 7rem;
    }

    &--side {
        margin: 0rem 5rem -10rem 5rem;
        opacity: 0.5;
    }

    }

    &__selection {
        font-family: $font-tertiary;
        font-size: 3rem;
        color: $gold;
    }

}

