@use "../../styles/variables" as *;


.skills__heading {
    color: $gold;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: $light-blue;
    text-decoration-thickness: 2px;
}


.skills__text {
    font-family: $font-secondary;
    
}

.spotlight-container {
    margin: auto;
}