@use "./styles/variables" as *;
@use "./styles/typography" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
  background-color: #f0f0f0;
}

.page__heading {
  color: $gold;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: $light-blue;
  text-decoration-thickness: 2px;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}


.page__text {
  font-family: $font-secondary;
  font-size: 1.5rem;
  
}
