@use "../../styles/variables" as *;

.topBanner {
    border: 2px solid firebrick;
    height: 7rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
}

.project__section{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.screenshot__container{
    border: 2px solid chocolate;
    width: 50%;
    // display: inline-block;
}

.chevron{
    width: 3rem;
    height: 3rem;
    color: blue;
    fill: green;

    &:hover{
        cursor: pointer;
        color: $purple;
        fill: $purple;
    }
}

.information__container{
    border: 2px solid olivedrab;
}

#thumb{
    height: 5rem;
}

#screenshot{
    width: 40rem;
}